@import "../common"

.section-about
  position: relative
  padding-top: 5vw
  .top-bg
    background: #752a23
    position: absolute
    top: 0
    left: 0
    width: 100vw
    z-index: 9
    height: 150vh
    @include desktop
      height: 80vh

  .about-content
    position: relative
    z-index: 10

  .section-header
    position: static
    background-image: url(../assets/Main_Landing_Page/Website_Assets/headline-about.svg)
    margin-left: 10vw

  .text
    z-index: 10
    color: white
    margin: 2vh auto
    width: 80vw

    @include desktop
      margin: 2vh 10vw 0 10vw
      width: 40vw

    font-weight: 100

    .text-header
      font-size: 3vh
      font-weight: 600
      margin-bottom: 2vh

    p
      font-size: 2vh
      margin: 1vh 0

  .sketch-scene
    z-index: 10
    background: url(../assets/Main_Landing_Page/Website_Assets/boredrockstarz_main_page_illustration_desktop.png) no-repeat
    background-size: contain
    margin: 0 auto
    width: 80vw
    height: 24vh

    @include desktop
      position: absolute
      top: 5vh
      width: 35vw
      height: 50vh
      right: 10vw

  .blocks
    margin: 0 auto
    width: 80vw
    display: grid
    padding: 1rem
    grid-gap: 1rem
    z-index: 11
    grid-template-columns: repeat(1, 1fr)

    @include desktop
      margin: 13vh auto 0
      grid-template-columns: repeat(4, 1fr)

    .block
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      height: 30vh
      color: white
      text-align: center
      .icon
        background-size: contain
        background-repeat: no-repeat
        height: 11vh
        margin: 4vh 0 0
        background-position: center
      .block-header
        font-weight: 600
        font-size: 4vh
      .block-comment
        font-weight: 100
        font-size: 1.8vh
        margin: 2vh

      &.ppl
        background-image: url(../assets/Main_Landing_Page/Website_Assets/box-purple.svg)
        .icon
          background-image: url(../assets/Main_Landing_Page/assets/icon-rockstarz.png)
      &.eth
        background-image: url(../assets/Main_Landing_Page/Website_Assets/box-red.svg)
        .icon
          background-image: url(../assets/Main_Landing_Page/assets/icon-ethereum.png)
      &.rights
        background-image: url(../assets/Main_Landing_Page/Website_Assets/box-grey.svg)
        .icon
          background-image: url(../assets/Main_Landing_Page/assets/icon-copyright.png)
      &.chart
        background-image: url(../assets/Main_Landing_Page/Website_Assets/box-black.svg)
        .icon
          background-image: url(../assets/Main_Landing_Page/assets/icon-charts.png)

