@import "../common"

.section-discord
  .discord-block
    margin: 0 auto
    width: 80vw
    background-image: url(../assets/Main_Landing_Page/Website_Assets/box-purple-tall.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    height: 80vh
    @include desktop
      background-image: url(../assets/Main_Landing_Page/Website_Assets/box-purple.png)
      height: 40vh
    position: relative

    .unicorn
      position: absolute
      width: 100%
      height: 100%
      background: url(../assets/Main_Landing_Page/Website_Assets/rockstar-04-mirror.png) no-repeat
      background-size: contain
      z-index: 10
      background-position: bottom center
      @include desktop
        background-position: right

    .text
      z-index: 11
      position: absolute
      padding-top: 14vh
      color: white
      font-size: 2.5vh
      font-weight: 600
      padding-left: 15vw
      width: 70vw
      @include desktop
        padding-left: 10vw

      .button
        margin-top: 4vh
        @include desktop
          margin-top: 2vh
        a
          display: flex
          height: 5vh
          color: white
          text-decoration: none
          justify-content: space-between
          align-items: center
          font-size: 1.4vh
          font-weight: 600
          padding-left: 2vw
          background: url(../assets/Main_Landing_Page/Website_Assets/box-red.png) no-repeat
          background-size: 100% 100%
          width: 30vw
          @include desktop
            width: 10vw

          .arrow
            height: 2vh
            width: 2vh
            margin-right: 2vh
            background: url(../assets/Main_Landing_Page/Website_Assets/icon-arrow-right.svg) no-repeat


