@import "../common"

.footer-section
  width: 100vw
  height: 17vh
  margin-top: 5vh

  display: flex
  align-items: center
  flex-wrap: wrap

  padding-top: 0
  background-size: 100% 100%
  background-repeat: no-repeat
  background-image: url(../assets/Main_Landing_Page/Website_Assets/footer-bg.png)
  justify-content: center
  @include desktop
    justify-content: space-between
    padding-top: 5vh
    flex-wrap: nowrap
    background-size: 100%
    background-image: url(../assets/Main_Landing_Page/Website_Assets/footer-bg.svg)


  ul
    flex-grow: 1
    list-style: none
    padding: 0
    margin: 0
    display: flex
    justify-content: flex-end
    align-items: center
    height: 100%


  .logo
    background: url(../assets/Main_Landing_Page/Website_Assets/logo-vertical.svg) no-repeat center
    height: 10vh
    width: 100vw
    @include desktop
      background: url(../assets/Main_Landing_Page/Website_Assets/logo.svg) no-repeat 5%
      height: 5vh
      width: 30vw
      margin-left: 3vw

  .icons
    @include desktop
      height: 100%
      margin-right: 3vh
    ul
      li
        margin-right: 15px
        a
          img
            display: block
            width: 3vh
