@import "./../common.sass"

.section-head

  .header
    position: absolute
    z-index: 10
    width: 100%
    left: 0
    top: 0
    display: flex
    height: 60px
    font-weight: 600
    justify-content: space-between
    @include desktop
      width: 80%
      left: 10%
      top: 30px
      justify-content: normal

    .logo
      background: url(../assets/Main_Landing_Page/Website_Assets/logo.svg) no-repeat 5%
      width: 50%
      margin-left: 10%
      height: 60px

      @include desktop
        margin-left: 0
        width: 30%
        height: 60px

    .menu-trigger
      background: url(../assets/Main_Landing_Page/Website_Assets/burger-menu.svg) no-repeat
      width: 30px
      height: 30px
      margin-right: 10%
      margin-top: 20px

      @include desktop
        display: none

    .menu, .icons
      ul
        list-style: none
        padding: 0
        margin: 0
        display: flex
        justify-content: flex-end
        align-items: center
        height: 100%

    .mobile-menu
      background: #91362e
      color: white
      position: absolute
      width: 100%
      left: 0
      top: 60px
      ul
        list-style: none
      a
        color: white
        line-height: 30px
        text-decoration: none
      transition: height .2s linear
      height: 0
      overflow: hidden
      &.open
        height: 150px

    .menu
      display: none
      @include desktop
        display: block
      flex-grow: 1
      ul
        li
          a
            font-size: .9em
            padding: 0 20px
            text-transform: uppercase
            color: white
            text-decoration: none
            transition: color .3s
            &.active, &:hover
              color: #91362e

    .icons
      display: none
      @include desktop
        display: block
      margin-left: 30px
      ul
        li
          margin-left: 15px
          a
            img
              display: block
              width: 30px

  .scroll-down
    position: absolute
    z-index: 10
    background: url(../assets/Main_Landing_Page/Website_Assets/icon-arrow-scroll-down.svg) no-repeat
    bottom: 0
    cursor: pointer
    transition: bottom
    animation: scroll-down-bouncing 2s linear infinite
    width: 10vw
    height: 10vw
    left: 45vw
    @include desktop
      width: 3vw
      height: 3vw
      left: 48vw

  @keyframes scroll-down-bouncing
    0%
      bottom: 0

    50%
      bottom: -1vh
      @include desktop
        bottom: -.5vw

    100%
      bottom: 0

