@import "../common"

.section-icons
  display: grid
  padding: 1rem
  grid-gap: 1rem
  grid-template-columns: repeat(3, 1fr)

  @include desktop
    grid-template-columns: repeat(6, 1fr)

  .icon
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    height: calc(100vw/3)
    @include desktop
      height: calc(100vw/6)

    div
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      height: 100%

    &.gray
      background-image: url(../assets/Main_Landing_Page/Website_Assets/box-grey.svg)
    &.yellow
      background-image: url(../assets/Main_Landing_Page/Website_Assets/box-yellow.svg)
    &.purple
      background-image: url(../assets/Main_Landing_Page/Website_Assets/box-purple.svg)
    &.red
      background-image: url(../assets/Main_Landing_Page/Website_Assets/box-red.svg)
    &.red-dark
      background-image: url(../assets/Main_Landing_Page/Website_Assets/box-red-dark.svg)

    &.r1 div
      background-image: url(../assets/Main_Landing_Page/Website_Assets/rockstar-01.png)
    &.r2 div
      background-image: url(../assets/Main_Landing_Page/Website_Assets/rockstar-02.png)
    &.r3 div
      background-image: url(../assets/Main_Landing_Page/Website_Assets/rockstar-03.png)
    &.r4 div
      background-image: url(../assets/Main_Landing_Page/Website_Assets/rockstar-04.png)
    &.r5 div
      background-image: url(../assets/Main_Landing_Page/Website_Assets/rockstar-05.png)
