@import "../common"

.section-roadmap
  //padding-bottom: 50vh
  //@include desktop
  //  padding-bottom: 40vh
  padding-bottom: 10vh
  @include desktop
    padding-bottom: 10vh

.section.outlook
  overflow: visible

.section-outlook
  .list
    font-size: 1.7vh
    font-weight: 400
    ul
      padding: 0
      margin: 0
      list-style: none
      li
        margin-bottom: 1vh
        white-space: nowrap
        vertical-align: top
        span
          display: inline-block
          white-space: normal
        @include desktop
          margin-bottom: 1.4vh
        &:before
          vertical-align: top
          margin-top: .5vh
          display: inline-block
          background-image: url(../assets/Main_Landing_Page/Website_Assets/icon-arrow-right.svg)
          background-size: contain
          background-repeat: no-repeat
          content: " "
          margin-right: 1.3vh
          width: 2.2vw
          height: 1.3vh
          @include desktop
            margin-right: .5vw
            width: 1.3vw
            height: 1.3vh


  .music-block
    .music-block-content
      background-image: url(../assets/Main_Landing_Page/Website_Assets/box-green-tall.png)
      @include desktop
        background-image: url(../assets/Main_Landing_Page/Website_Assets/box-green.png)
      color: white
      background-repeat: no-repeat
      background-size: 100% 100%
      width: 80vw
      padding: 7vh 5vh
      display: flex
      flex-wrap: wrap
      margin: -40vh auto 10vh
      .list
        margin-top: 2vh
      @include desktop
        margin: -30vh auto 10vh
        padding: 5vw
        flex-wrap: nowrap
        justify-content: space-between
        .list
          margin-top: 0

      .left
        width: 100%
        @include desktop
          width: 40%
        .header
          font-size: 3vh
          font-weight: 400
        .comment
          font-size: 1.7vh
          line-height: 2.2vh
          margin-top: 1vh
          @include desktop
            margin-top: 3vh
          font-weight: 400
          color: rgb(240,240,240)
          .annotation
            margin-top: 4vh
            font-size: 1.2vh
            font-style: italic
            font-weight: normal

      .right
        width: 100%
        @include desktop
          width: 50%
          padding-top: 5vh
        .avail-comment
          margin-top: 4vh
          font-size: 1vh
          font-weight: 400

        .services
          //margin-top: 1vh
          display: flex
          justify-content: space-between
          .service
            width: 30%
            img
              width: 100%
              display: block
              height: 5vh
            &.amazon img
              height: 6vh
            &.spotify img
              height: 4.8vh
            &.apple img
              height: 4.3vh

    &.short .music-block-content
      margin-top: 0

  .outlook-content-wrapper
    color: white
    background: rgb(24, 107, 54)
    background-image: url(../assets/Main_Landing_Page/Website_Assets/rockstar-outlook.png)
    background-repeat: no-repeat
    border-top: 1px solid transparent

    background-size: 30vh
    padding: 0 0 30vh
    background-position: center bottom
    @include desktop
      background-position: 60vw bottom
      background-size: 30vw
      padding: 0 0 10vh
    .outlook-content

      position: relative
      width: 80vw
      margin: 0 auto

      .outlook-section-header
        background-image: url(../assets/Main_Landing_Page/assets/heading-outlook.png)
        background-repeat: no-repeat
        background-size: contain
        height: 10vh
        width: 50vw
        @include desktop
          width: 30vw

      .header
        margin: 1vh 0 4vh
        font-size: 3vh
        font-weight: 600
        width: 100%
        @include desktop
          margin: 6vh 0 5vh
          width: 50%

      .list
        width: 100%
        @include desktop
          width: 40%


