@import "../common"

.section-roadmap
  .section-header
    background-image: url(../assets/Main_Landing_Page/Website_Assets/headline-roadmap.svg)
    top: 5vh
    width: 80vw
    height: 15vh
    @include desktop
      top: 10vh
      width: 50vh
      height: 15vh

  .roadmap-blocks
    margin-top: 20vh
    @include desktop
      margin-top: 30vh
    color: white
    a
      color: #9c9c9c
      text-decoration: none
      &:hover
        text-decoration: underline
        color: white
    .block
      margin-top: 3vh
      position: relative
      display: flex
      justify-content: center

      @include desktop
        transition: transform .5s linear
        &.left
          transform: translateX(-100%)
        &.right
          transform: translateX(100%)
        &.show
          transform: translateX(0)


        &.small
          height: 20vh
          .icon
            top: 1vh

      .icon
        z-index: 12
        background-size: contain
        background-repeat: no-repeat
        bottom: 0
        width: 35vw
        height: 15vh
        position: absolute
        left: 13vw
        @include desktop
          left: auto
          margin-top: 2vh
          position: static
          width: 17vw
          height: 25vh
        &.rockstar
          background-image: url(../assets/Main_Landing_Page/Website_Assets/rockstar-clipped.png)
        &.nerd
          background-image: url(../assets/Main_Landing_Page/Website_Assets/nerd.png)
        &.random-rockstar
          background-image: url(../assets/Main_Landing_Page/Website_Assets/rockstar-04-clipped.png)

      &.right
        .icon
          background-position: right
          left: auto
          right: 13vw
          bottom: 0
          @include desktop
            top: auto
            left: auto
            right: auto

      .text-wrapper
        width: 80vw
        margin-bottom: 15vh
        @include desktop
          position: relative
          width: 30vw
          margin-bottom: 5vh

      .text
        background: url(../assets/Main_Landing_Page/Website_Assets/box-black.png) no-repeat
        background-size: 100% 100%
        font-size: 1.5vh
        font-weight: 300
        padding: 3vh 4vh
        z-index: 11
        line-height: 1.5

        @include desktop
          padding: 5vh

        .text-header
          font-weight: 600
          font-size: 5vh
          line-height: 5vh
          margin-bottom: 1vh
          &.small
            font-size: 4vh
            line-height: 4vh
            margin-top: 1vh
            @include desktop
              margin-top: 1vh

      .bubble
        height: 10vh
        width: 10vh
        position: absolute
        background-image: url(../assets/Main_Landing_Page/Website_Assets/speech-bubble-mirror.png)
        background-repeat: no-repeat
        background-size: contain

      &.left
        .bubble
          left: 36vw
          bottom: 5vh
          transform: rotate(-42deg)
          @include desktop
            background-image: url(../assets/Main_Landing_Page/Website_Assets/speech-bubble.png)
            background-repeat: no-repeat
            background-size: contain
            left: -9vh
            bottom: auto
            top: 10vh
            transform: none

      &.right
        .bubble
          background-image: url(../assets/Main_Landing_Page/Website_Assets/speech-bubble.png)
          background-repeat: no-repeat
          background-size: contain

          right: 36vw
          bottom: 9vh
          transform: rotate(-136deg)
          @include desktop
            transform: rotate(-180deg)
            top: 4vh
            right: -9vh
            bottom: auto
            background-image: url(../assets/Main_Landing_Page/Website_Assets/speech-bubble-mirror.png)
            background-repeat: no-repeat
            background-size: contain

