@import "../common"

.section-team
  .section-header
    background-image: url(../assets/Main_Landing_Page/Website_Assets/headline-team.svg)
  .team-container
    display: flex
    flex-wrap: wrap
    margin: 15vh auto
    width: 80vw
    .item
      a
        font-weight: 400
        color: #9c9c9c
        text-decoration: none
        font-size: 1.25vh
        &:hover
          text-decoration: underline
          color: white

      width: 80vw
      margin: 5vw 0 0 0

      @include desktop
        width: 35vw
        margin: 5vw 5vw 0 0
        display: flex

      align-items: center
      justify-content: space-between

      .content
        color: white
        font-weight: 100
        font-size: 1.4vh
        .header
          font-weight: 600
          font-size: 2vh
          //margin-bottom: 1vh
        .role
          font-weight: 400
          font-size: 1.5vh
          margin-bottom: 1vh
        .description
          font-weight: 200
          font-size: 1.25vh
          margin-bottom: 1vh
        width: 80vw
        padding: 5vw 0 2vw 3vw
        @include desktop
          padding: 0 0 0 5vw
          width: 23vw

      .icon
        flex-grow: 1
        height: 20vh
        width: 80vw
        //background: url(../assets/Main_Landing_Page/Website_Assets/box-black.png)
        background-size: 100% 100%
        background-position: center
        background-repeat: no-repeat
        @include desktop
          height: 12vw
          width: 12vw
        div
          width: 100%
          height: 100%
          background-size: contain
          background-position: center
          background-repeat: no-repeat
          border-radius: 3vh;
        &.r1 div
          background-image: url(../assets/Main_Landing_Page/Website_Assets/fairy-mercury-bg.png)
        &.r2 div
          background-image: url(../assets/Main_Landing_Page/Website_Assets/uniKorn-bg.png)
        &.r3 div
          background-image: url(../assets/Main_Landing_Page/Website_Assets/steve-hangover-bg.png)
        &.r4 div
          background-image: url(../assets/Main_Landing_Page/Website_Assets/creative-bourbon-bg.png)
        &.r5 div
          background-image: url(../assets/Main_Landing_Page/Website_Assets/horny-corn-bg.png)
