@import "../common"

.worldtour-section
  overflow: visible!important

.section-worldtour
  .worldtour-content-wrapper
    margin-top: -15vh
    background-image: url(../assets/Main_Landing_Page/Website_Assets/section-bg-worldtour.png)
    background-size: 100%
    background-position: top center
    background-repeat: no-repeat

    .worldtour-content
      width: 80vw
      padding-top: 10vh
      margin: 0 auto

      .worldtour-section-header
        background-image: url(../assets/Main_Landing_Page/Website_Assets/headline-worldtour.svg)
        background-repeat: no-repeat
        background-size: contain
        height: 12vh
        width: 80vw
        @include desktop
          width: 40vw
          height: 15vh

      .description-block
        color: white
        background-image: url(../assets/Main_Landing_Page/Website_Assets/box-purple-tall.png)
        background-repeat: no-repeat
        background-size: 100% 100%
        padding: 7vw
        .header
          font-size: 2.5vh
          font-weight: 500
        .comment
          font-size: 1.7vh
          font-weight: 300
          line-height: 1.5
          margin-top: 1vh
          color: rgb(245,245,245)
          a
            font-weight: 400
            color: #C9BDF4
            text-decoration: none
            &:hover
              text-decoration: underline
              color: white
        @include desktop
          position: absolute
          padding: 2vw
          width: 22vw
          top: 40vh
          left: 25vw
          z-index: 10

      .poster
        background-image: url(../assets/Main_Landing_Page/poster.jpeg)
        background-size: 100%
        background-repeat: no-repeat
        width: 80vw
        margin: 5vh auto 0
        height: calc(80vw*1600/1130)
        cursor: pointer
        @include desktop
          top: 20vh
          left: 45vw
          position: absolute
          width: 30vw
          height: calc(30vw*1600/1130)
          z-index: 9
          transition: all .5s

          &.show
            position: fixed
            top: 0
            left: 50%
            transform: translateX(-50%)
            height: 100vh
            width: calc(100vh/(1600/1130))
            z-index: 20
            margin: 0

      .worldtour-roadmap
        margin-top: 5vh
        @include desktop
          margin-top: 80vh
          padding-bottom: 7vh
        .block
          margin-top: 5vh
          position: relative
          background-image: url(../assets/Main_Landing_Page/Website_Assets/box-black.png)
          background-size: 100% 100%
          background-repeat: no-repeat
          width: 70vw
          .img
            position: absolute
            top: -3vw
            left: -3vw
            width: 25vw
            height: 25vw
            background-size: 100% 100%
            background-repeat: no-repeat

          &.right
            margin-left: 10vw
            .img
              left: auto
              right: -3vw

          .text
            a
              font-weight: 400
              color: #9c9c9c
              text-decoration: none
              &:hover
                text-decoration: underline
                color: white
            width: 50vw
            padding: 5vw
            margin-left: 20vw
            color: white
            .text-header
              font-size: 2.5vh
              font-weight: 500
              margin-bottom: 1vh
            font-size: 1.5vh
            font-weight: 300
            line-height: 1.5

          &.right
            .text
              margin-left: 0

          @include desktop
            width: 40vw
            margin-top: 6vh
            .img
              width: 13vw
              height: 13vw
              top: -1.7vw
              left: -1vw
            &.right
              left: 30vw
              .img
                left: auto
                right: -1vw
            .text
              width: 29vw
              padding: 2vw 5vw
              margin-left: 11vw

            &:before
              position: absolute
              z-index: 11
              top: 50%
              right: -4vw
              width: 7vw
              height: 7vw
              background-image: url(../assets/Main_Landing_Page/Website_Assets/icon-arrow-chalk-down.png)
              background-size: 100% 100%
              background-repeat: no-repeat
              content: " "
            &.right
              &:before
                background-image: url(../assets/Main_Landing_Page/Website_Assets/icon-arrow-chalk-down-mirror.png)
                left: -4vw
            &:last-child:before
              display: none

          &.intro .img
            background-image: url(../assets/Main_Landing_Page/Website_Assets/box-abbey.png)
          &.first-stop .img
            background-image: url(../assets/Main_Landing_Page/Website_Assets/box-worldtour-las-vegas.png)
          &.second-stop .img
            background-image: url(../assets/Main_Landing_Page/Website_Assets/box-worldtour-stop1.png)
          &.third-stop .img
            background-image: url(../assets/Main_Landing_Page/Website_Assets/box-worldtour-stop2.png)
          &.fourth-stop .img
            background-image: url(../assets/Main_Landing_Page/Website_Assets/box-worldtour-tba-soon.png)
          &.outro .img
            background-image: url(../assets/Main_Landing_Page/Website_Assets/box-road-ahead.png)

.bus-wrapper
  position: relative
  margin-top: 5vh
  height: 15vh
  @include desktop
    margin-top: 0
    height: 25vh
  .bus
    position: absolute
    background-image: url(../assets/Main_Landing_Page/boro-bus.png)
    background-size: contain
    background-repeat: no-repeat
    height: 100%
    top: 0
    left: -25vw
    width: 50vw
    transition: left .1s
