@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,200&display=swap')

@mixin desktop
  @media (min-width: 480px)
    @content

*
  box-sizing: border-box
  //user-select: none


html, body
  padding: 0
  margin: 0

.container
  position: fixed
  width: 100%
  height: 100%
  background-color: #1C1C1C
  background-size: 100%
  background-repeat: no-repeat

.container-bg
  z-index: 1
  width: 100%
  height: 100%
  position: fixed
  svg
    width: 100%
    height: 100%

.logo-star
  z-index: 3
  background-image: url(assets/br_logo_star.svg)
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  position: absolute
  top: 15vh
  height: 23vh
  width: 40vw
  left: 50%
  transform: translateX(-50%)

.logo-type
  z-index: 3
  background-image: url(assets/br_logo_type.svg)
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  position: absolute
  top: 41vh
  width: 80vw
  height: 5vh
  left: 50%
  transform: translateX(-50%)
  @include desktop
    height: 8vh

.logo-tagline
  z-index: 3
  background-image: url(assets/music_to_the_metaverse.svg)
  background-repeat: no-repeat
  background-size: contain
  background-position: center
  position: absolute
  top: 46vh
  width: 80vw
  height: 4vh
  left: 50%
  transform: translateX(-50%)
  opacity: .3
  transition: opacity 4s linear
  &.show
    opacity: 1
  @include desktop
    top: 50vh

.logo-line
  z-index: 3
  position: absolute
  top: 51vh
  height: 10px
  width: 80vw
  border-top: 1px solid rgb(84,84,84)
  left: 50%
  transform: translateX(-50%)
  @include desktop
    width: 25vw
    top: 56vh

.next-update-label
  z-index: 3
  position: absolute
  top: 54vh
  width: 100%
  font-family: 'Montserrat', sans-serif
  font-weight: 200
  font-style: italic
  text-align: center
  color: white
  font-size: 2.8vh
  @include desktop
    top: 58vh

.counter-label
  z-index: 3
  position: absolute
  top: 57vh
  font-family: 'Montserrat', sans-serif
  font-weight: 800
  text-align: left
  color: white
  font-size: 7vh
  left: 40%
  @include desktop
    top: 61vh
    font-size: 8vh

.social-icons
  z-index: 3
  position: absolute
  top: 68vh
  width: 100%
  @include desktop
    top: 75vh
  display: flex
  justify-content: center
  .icon
    display: block
    width: 15vw
    height: 4vh
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    &.discord
      background-image: url(/assets/Discord-Logo-White.svg)
    &.twitter
      background-image: url(/assets/twitter_icon.svg)
    @include desktop
      width: 6vw
      height: 3vh

.unicorn
  z-index: 2
  position: absolute
  bottom: 0
  background-repeat: no-repeat
  background-size: contain
  background-position: center 4vh
  background-image: url(/assets/boredrockstarz_unicorn_03.png)
  height: 17vh
  width: 20vh
  right: 0

  @include desktop
    width: calc(30vh*20/17)
    right: 5vw
    height: 30vh
    background-position: center 8vh

  .glow
    position: absolute
    border-radius: 50%
    width: 10%
    height: calc(10%*20/17)
    left: 35%
    top: -5%
    background: rgb(255,255,255)
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 40%)
    transition: all 1s linear
    opacity: 0
    &.show
      opacity: 1
      width: 50%
      height: calc(50%*20/17)
      left: 15%
      top: -25%
    &.animated
      animation: gradient 2s linear infinite


@keyframes gradient
  0%
    width: 50%
    height: calc(50%*20/17)
    left: 15%
    top: -25%

  50%
    width: 40%
    height: calc(40%*20/17)
    left: 20%
    top: -19.5%

  100%
    width: 50%
    height: calc(50%*20/17)
    left: 15%
    top: -25%
